.content-sidebar {
    margin-left: 200px;
    padding-left: 20px;
}

#content {
    padding-left: 240px;
    padding-top: 120px;
    padding-right: 40px;
}

#content {
    height: 100vh;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    #content {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.mantine-Accordion-content {
    padding: 0;
}