.content-sidebar {
    margin-left: 200px;
    padding-left: 20px;
}

#wrapper {
    margin-left: 200px;
}

@media only screen and (max-width: 1200px) {
    #wrapper {
        margin-left: 0;
    }
}

.mantine-Accordion-content {
    padding: 0;
}